{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="row justify-content-md-center">
       
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-primary rounded me-4 me-sm-0"><span class="fas fa-chart-line"></span></div>
                            <div class="d-sm-none">
                                <h2 class="h5">Total</h2>
                                <h3 class="mb-1"></h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5 tex-center">TOTAL</h2>
                                <h3 class="h6">Devices:  <span class="text-success fw-bold">{{st.total}}</span></h3>

                                <h3 class="h6">This Month:   <span class="text-success fw-bold">{{st.devicesinmonth}}</span></h3>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-success rounded me-4"><span class="fas fa-chart-line"></span></div>
 
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5 bold">ACTIVE</h2>
                                <h3 class="h6">Today: <span class="h6 text-success">{{st.returntoday}}</span></h3>
                                <h3 class="h6">7 days ago: <span class="h6 text-success">{{st.return7day}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
               <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon icon-shape icon-md icon-shape-danger rounded me-4"><span class="fas fa-chart-line"></span></div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h5">INACTIVE</h2>
                                <h3 class="h6">7 days ago: <span class="h6 text-danger">{{st.notreturn7day}}</span></h3>
                                <h3 class="h6">30 days ago: <span class="h6 text-danger">{{st.notreturn30day}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
